#summarized{
    background-color: #c4302b;
    border:0.16em solid #FFFFFF;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 0.5s;
  }
#text-here{
  border: none;
  padding: 8px;
}
#summary{  
  text-align: justify;
  letter-spacing: 2px;
}